/* CAJA DE BUSQUEDA */
.search-box{
    position: relative;
    margin:56px 0;
    i{
    position: absolute;
    padding: 20px 0 0 30px;
    color: map-get($colors, grisUno);
    
        @include breakpoints(xs){
            padding: 20px 0 0 20px;
        }
    }
    input{
    width: 100%;
    padding: 19px 10px 19px 72px ;
    font-size: 16px;
    color: map-get($colors, grisUno);
    background-color: map-get($colors, grayLight);
    border: none;
    outline: none;
    border-radius: 10px;
    box-sizing: border-box;
        @include breakpoints(xs){
            padding: 19px 10px 19px 52px ;
        }
    }
}