/* POST ANTERIOR Y POSTERIOR */
.previous-next-post{
    width: 100%;
    max-width: 940px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 98px;
    a{
        color: map-get($colors, secondary);
        &:hover{
            color: map-get($colors, tertiary);
        }
    }
}