@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
body{    background: black;}
.accordionWrapper{padding:30px;background:greenyellow;float:left;width:80%;box-sizing:border-box;margin:10%;    box-shadow: 13px 12px 10px #6fcc15;}
.accordionItem{
  float:left;
  display:block;
  width:100%;
  box-sizing: border-box;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 15px;
}
.accordionItemHeading{
  cursor:pointer;
  margin:0px 0px 10px 0px;
  padding:10px;
  background:black;
  color:white;
  width:100%;
  -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
      box-sizing: border-box;
}

.accordionItemHeading:hover{
  background-color: #bdc3c7;
    color: #7f8c8d;
}

.close .accordionItemContent{
  height:0px;
  transition:height 1s ease-out;
  -webkit-transform: scaleY(0);
-o-transform: scaleY(0);
-ms-transform: scaleY(0);
transform: scaleY(0);
  float:left;
  display:block;
  
  
}
.open .accordionItemContent{
      padding: 20px;
  background-color: black;
  border: 1px solid black;
  width: 100%;
  margin: 0px 0px 10px 0px;
  display:block;
  -webkit-transform: scaleY(1);
-o-transform: scaleY(1);
-ms-transform: scaleY(1);
transform: scaleY(1);
  -webkit-transform-origin: top;
-o-transform-origin: top;
-ms-transform-origin: top;
transform-origin: top;
color: white;

-webkit-transition: -webkit-transform 0.4s ease-out;
-o-transition: -o-transform 0.4s ease;
-ms-transition: -ms-transform 0.4s ease;
transition: transform 0.4s ease;
      box-sizing: border-box;
}

.open .accordionItemHeading{
  margin:0px;
      -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #bdc3c7;
  color: #7f8c8d;
}

.open .accordionItemHeading:hover{
  background-color: black;
color: white;
}
