/*Globals*/
* {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  text-align: center;
  font-family: helvetica;
  outline: none;
  width: 100%;
  max-width: 1440px;
}


h2 {
  color: white;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  padding-top: 20px;
}

p{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding-top: 29px;
  color: white;

}

button{
    -webkit-appearance: button;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark-color(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

/* Section Title */

.section-title {
background-image: url(../images/banner.png);
background-repeat: no-repeat;
background-position:center;
background-size: cover;
}

.content-title {
height: 535px;
color:white;
}

.content-title h1 {
text-align: center;
font-size: 64px;
font-weight: bold;
font-style: normal;
text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.705);
padding-top: 60px;
}

.content-title p{
  width: 365px;
  height: 117px;
  padding-top: 16px;
  box-sizing: border-box;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  color: #fff;
  font-size: 36px;
  line-height: 42px;
  background: rgba(114, 153, 254, 0.5);
  border-radius: 10px;
  position: absolute;
  margin: 270px 0 0 40px;
  left: 246px;
}

form {
  padding-top: 40px;
  padding-bottom: 40px;
  border: 1pxsolid#cdcdcd;
  width: 100%;
  background:  lightseagreen;
  box-shadow: 0 0 10px #1a1919;
}

.form-contact input 
{
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  text-align: right;
  margin-right:15px;
  justify-content: center;

}

.form-contact ul{
  display: flex;
  margin-right: 20px;
  justify-content: center;
}

input {
  padding: 10px;
  transition: all.5sease;
  border: 3pxsolid#cdcdcd;
  width: 100%;
  max-width: 400px;

}

/* Section About me */

.section-about-me {
  background-color: #7299FE;
}

.div-about-me{
  height: 450px;
}
.section-about-me h2{
  font-size: 35px;
  padding-bottom: 10px;
  color: white;
} 

.div-about-me p{
  width: 872px;
  text-align: justify;
  margin: 0 auto;
}

.btn-see-cv{
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  color: #fff;
  padding: 18px 57px;
  background: #D16FFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 20px;
  margin: 30px 0 0 -700px;
  cursor: pointer;
}

/* Section Skills */
.section-skills {
  color: black;
  background-color: #9122FF;
  text-align: center;
  padding-top: 40px;
padding-bottom: 40px;
}

.section-skills h2{
  text-align: center;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  padding-top: 31px;
  display: block;
  margin-bottom: 35px;
}

.all-skills{
    width: 838px;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 5px;
    margin: 0 auto;
}

.all-skills p {
  letter-spacing: 1px;
  margin-bottom: 14px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.skills-base .li {
  width: 403px;
  list-style: none;
  margin-bottom: 25px;
}

.white-bar{
  background: #fff;
  display: block;
  height: 21px;
  border: none;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0 0 10px #2187e7b3;
}

.white-bar span {
  height: 21px;
  float: left;
  border-radius: 32px;
  background: #2187e7;
}

.vue, .flexbox, .wordpress {
  width: 80%;
}

.html, .css, .javascript {
  width: 40%;
}

/* Section Portfolio */

.section-portfolio {
background-color: #FFD233;
text-align: center;
padding-top: 40px;
padding-bottom: 40px;
}

.section-portfolio h2{
  font-size: 35px;
  padding-bottom: 10px;
}

.section-portfolio ul {
  display: flex;
  margin-right: 20px;
  justify-content: center;

}

.images img {
  justify-content: space-between;
  margin: 20px 20px 20px 20px;
}

/* Section Clients */

.section-clients {
  background-color: #3F4E62;
  padding-bottom: 20px;
  padding-top: 20px;
}

.section-clients ul {
  display: flex;
  margin-right: 20px;
  justify-content: center;
}

.section-clients h2 {
  font-size: 35px;
  padding-bottom: 10px;
}

/* Section Form Contact */


.name {
  padding: 20px 10px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

button:hover {
  box-shadow: 0 0 10px #dad5d5;
}

input:focus {
  outline: none;
  box-shadow: 0010px#cdcdcd;
}

input:disabled,
input:read-only {
  background: #cbcbcb;
}

input:invalid:focus {
  border-color: red;
  color: red;
  box-shadow: 0 0 10px red;
  box-shadow: black;
}

input:valid {
  border-color: green;
  box-shadow: 0 0 10px green;
}