/*Globals*/
* {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  text-align: center;
  font-family: helvetica;
  outline: none;
  width: 1440px;
}

/* Section Title */

.section-title {
background-image: url(/images/banner.png);
background-repeat: no-repeat;
background-position:center;
background-size: cover;
}

.content-title {
height: 535px;
color:white;
}

.content-title h1 {
text-align: center;
font-size: 64px;
font-weight: bold;
font-style: normal;
text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.705);
padding-top: 60px;
}

.content-title p{
  width: 365px;
  height: 117px;
  padding-top: 16px;
  box-sizing: border-box;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  color: #fff;
  font-size: 36px;
  line-height: 42px;
  background: rgba(114, 153, 254, 0.5);
  border-radius: 10px;
  position: absolute;
  margin: 290px 0 0 40px;
  left: 138px;
}

form {
  padding-top: 40px;
  padding-bottom: 40px;
  border: 1pxsolid#cdcdcd;
  width: 100%;
  background:  lightseagreen;
  box-shadow: 0 0 10px #1a1919;
}

.form-contact input 
{
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  text-align: right;
  margin-right:15px;
  justify-content: center;

}

.form-contact ul{
  display: flex;
  margin-right: 20px;
  justify-content: center;
}

input {
  padding: 10px;
  transition: all.5sease;
  border: 3pxsolid#cdcdcd;
  width: 100%;
  max-width: 400px;

}



.section-title h1 {
  font-size: 40px;
}

.section-about-me {
  background-color: lightpink;
  color: black;
  text-align: center;
  padding-top: 40px;
padding-bottom: 40px;
}

.section-about-me h2{
  font-size: 35px;
  padding-bottom: 10px;
}

.section-skills {
  color: black;
  background-color: #9122FF;
  text-align: center;
  padding-top: 40px;
padding-bottom: 40px;
}

.section-skills h2{
  font-size: 35px;
  padding-bottom: 10px;
  color: #fff;
}

.section-portfolio {
  background-color: yellowgreen;
  color: black;
  text-align: center;
  padding-top: 40px;
padding-bottom: 40px;
}

.section-portfolio h2{
  font-size: 35px;
  padding-bottom: 10px;
}

.section-portfolio ul {
  display: flex;
  margin-right: 20px;
  justify-content: center;

}

.section-clients ul {
  display: flex;
  margin-right: 20px;
  justify-content: center;
}

.section-clients h2 {
  font-size: 35px;
  padding-bottom: 10px;
}

button {
  padding: 6px 15px;
  background-color: transparent;
  border: 1px solid green;
  color: green;
  border-radius: 40px;
}

button:hover {
  box-shadow: 0 0 10px #dad5d5;
}

input:focus {
  outline: none;
  box-shadow: 0010px#cdcdcd;
}

input:disabled,
input:read-only {
  background: #cbcbcb;
}

input:invalid:focus {
  border-color: red;
  color: red;
  box-shadow: 0 0 10px red;
  box-shadow: black;
}

input:valid {
  border-color: green;
  box-shadow: 0 0 10px green;
}

button {
  background-color: darkslateblue;
  padding: 10px;
  color: silver;
  border: 1px lightblue;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
}

h1 {
  color: white;
}