@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body 
{
background-color: black;
font-family: 'Monoton', cursive;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
} 

main{
  margin: 0px;
  margin-top:10%;
  padding:0px;
  
}
.h1-div {
  max-width: 400px;
  margin-left: 40%;
}

h1,h2{
  padding-top: 0px;
  margin-top: 0px;
  text-align: center;
  color:black;
  background-color: greenyellow;
}


a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   
}
a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1){
    filter: hue-rotate(270deg);
}
a:nth-child(2){
    filter: hue-rotate(110deg);
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

.hw10{
  display: block;
  margin-left: 39%;
}
 
h2{
  font-size: 40px;
}

.section-exercise{
  display: block;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 320px) {
  main{
  margin: 0px;
  margin-top:700%;
  padding:0px;
}
h1 {
  margin-left: -68%;
}
.section-exercise
{
  margin-left:15%;
  margin-right: 10%;
}
}
@media only screen and (min-width: 375px) {
  main{
  margin: 0px;
  margin-top:497%;
  padding:0px;
}
h1 {
  margin-left: -84%;
}
.section-exercise
{
  margin-left:15%;
  margin-right: 10%;
}
}
@media only screen and (min-width: 400px) {
  main{
    margin: 0px;
    margin-top:434%;
    padding:0px;
  }

  h1 {
    margin-left: -77%;
  }
  .section-exercise
  {
    margin-left:16%;
    margin-right: 10%;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  main{
    margin: 0px;
    margin-top:60%;
    padding:0px;
  }

  h1 {
    margin-left: -84%;
  }
  .section-exercise
  {
    margin-left:10%;
    margin-right: 10%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  main{
    margin: 0px;
    margin-top:79%;
    padding:0px;
  }

  h1 {
    margin-left: -84%;
  }
  .section-exercise
  {
    margin-left:10%;
    margin-right: 10%;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  main{
    margin: 0px;
    margin-top:11%;
    padding:0px;
  }
  h1 {
    margin-left: -103%;
  }
  .section-exercise
  {
    margin-left:1%;
    margin-right: 10%;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  main{
    margin: 0px;
    margin-top:8%;
    padding:0px;
  }
  h1 {
    margin-left: -102%;
  }
  .section-exercise
  {
    margin-left:3%;
    margin-right: 10%;
  }
}