* {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  text-align: center;
  font-family: arial;
}

form {
  border: 1pxsolid#cdcdcd;
  width: 100%;
  background: grey;
  box-shadow: 0 0 10px #1a1919;
}

.form-contact input 
{
  display: flex;
  margin-right: 0px;
}

input {
  padding: 10px;
  transition: all.5sease;
  border: 3pxsolid#cdcdcd;
  width: 100%;
  max-width: 400px;
}

button {
  padding: 6px 15px;
  background-color: transparent;
  border: 1px solid green;
  color: green;
  border-radius: 40px;
}

button:hover {
  box-shadow: 0 0 10px #dad5d5;
}

input:focus {
  outline: none;
  box-shadow: 0010px#cdcdcd;
}

input:disabled,
input:read-only {
  background: #cbcbcb;
}

input:invalid:focus {
  border-color: red;
  color: red;
  box-shadow: 0 0 10px red;
  box-shadow: black;
}

input:valid {
  border-color: green;
  box-shadow: 0 0 10px green;
}

button {
  background-color: lightblue;
  padding: 10px;
  color: black;
  border: 1px lightblue;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
}

h1 {
  color: white;
}